:root{
    --bgcolor:  rgb(12, 17, 37);
    --pricingbtn: rgb(39 43 57);
    --colorgray:rgb(209 213 219);
    --darkgray:  #6464644d ;
    --purplecolor:rgb(147 51 234);
    --primarycolor:#ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sofiafont{
    font-family: "Sofia", sans-serif;
}
.Exofont{
    font-family: "Exo 2", sans-serif;
}
.fw700{
    font-weight: 700;
}
.fs30{
    font-size: 1.1rem;
}
body{
    background-color:var(--bgcolor)
    
}

nav li a{
    color: var(--colorgray);
    text-decoration: none;
    padding: 0px 20px;
}

.top_content h1  , .top_content h2 ,.top_content p{
        background: linear-gradient(179.1deg, #FFFFFF 0.77%, rgba(255, 255, 255, 0) 182.09%);
        background-clip: text;
        -webkit-background-clip: text;
         color: transparent;
        -webkit-text-fill-color: transparent;
          display: inline-block; 
}


.second_content_img img{
    width: 90%;
    border-radius: 18px;
}

/*------------------pricing----------------------*/
.pricing_card{
    background-color: transparent;
    border: 1px solid var(--darkgray);
    padding: 0px 10px;
    color:var(--colorgray);
    border-radius: 18px;
     font-family: "Exo 2", sans-serif;
     min-height: 650px;
}
.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-color: #555555;
    line-height: 50px;
}
.miidle_Card{
    border:1px solid var(--purplecolor);
   
}
.card_body ul li{
    list-style-type: none;
    padding-top:  20px;

}
.card_body ul  li:before {

content: '✓';
color: var(--purplecolor) !important;
margin-right: 15px;
font-size: 1.2rem;
line-height: 40px;


}
.card_Content{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: start;
}
.card-title{
    color: var(--purplecolor);
    
}
.pricingbtn{
    padding: 10px 40px;
    border: none;
    outline: none;
    background-color: var(--pricingbtn);
    color: var(--primarycolor);
    border-radius: 20px;

}
.pricingbtn:hover{
    background-color: rgb(58, 59, 65);
    box-shadow: 0px 0px 8px  rgb(58, 59, 65) ;

}
.downloadbtn{
    background-color: var(--purplecolor);
}
.secondcard{
    border-color: var(--purplecolor);
}
.downloadbtn:hover{
    background-color:#ac5df7;
    box-shadow: 0px 0px 10px #ad5df783 ;
    
}